ml-kit/LatihanCamera/.idea/vcs.xml
ml-kit/LatihanCamera/.idea/misc.xml
ml-kit/LatihanCamera/.idea/kotlinc.xml
ml-kit/LatihanCamera/.idea/gradle.xml
ml-kit/LatihanCamera/.idea/deploymentTargetDropDown.xml
ml-kit/LatihanCamera/.idea/compiler.xml
ml-kit/LatihanCamera/.idea/.name
ml-kit/LatihanCamera/.idea/deploymentTargetSelector.xml
tf-lite/LatihanCamera/.idea/vcs.xml
tf-lite/LatihanCamera/.idea/misc.xml
tf-lite/LatihanCamera/.idea/kotlinc.xml
tf-lite/LatihanCamera/.idea/gradle.xml
tf-lite/LatihanCamera/.idea/deploymentTargetDropDown.xml
tf-lite/LatihanCamera/.idea/compiler.xml
tf-lite/LatihanCamera/.idea/.name
tf-lite/LatihanCamera/.idea/git_toolbox_blame.xml
tf-lite/LatihanCamera/.idea/git_toolbox_prj.xml
tf-lite/LatihanCamera/.idea/deploymentTargetSelector.xml
tf-lite/LatihanCamera/.idea/.migrations.xml
tf-lite/Prediction/.idea/vcs.xml
tf-lite/Prediction/.idea/misc.xml
tf-lite/Prediction/.idea/kotlinc.xml
tf-lite/Prediction/.idea/gradle.xml
tf-lite/Prediction/.idea/deploymentTargetDropDown.xml
tf-lite/Prediction/.idea/compiler.xml
tf-lite/Prediction/.idea/.name
tf-lite/Prediction/.idea/git_toolbox_blame.xml
tf-lite/Prediction/.idea/git_toolbox_prj.xml
tf-lite/Prediction/.idea/deploymentTargetSelector.xml
tf-lite/Prediction/.idea/migrations.xml